<div class="confirmBox">
    <h2 mat-dialog-title>Are You Sure?</h2>
    <mat-dialog-content style="font-size: 18px !important; margin: 8px 0;">Deleting will permanently remove. This cannot
        be undone..!</mat-dialog-content>
    <div class="btnDiv">

    </div>
    <mat-dialog-actions align="center" class="d-flex gap-4">
        <button class="btn btn-secondary" (click)="close()">Close</button>
        <button class="btn btn-primary" (click)="confirm()">Confirm</button>
    </mat-dialog-actions>
</div>